.home-content.content
  svg(
    version='1.1'
    xmlns='http://www.w3.org/2000/svg'
    xmlns:xlink='http://www.w3.org/1999/xlink'
    x='0px'
    y='0px'
    viewBox='0 0 2685 2046'
    enable-background='new 0 0 2685 2046'
    xml:space='preserve'
  )
    path.paper(
      fill-rule='evenodd'
      clip-rule='evenodd'
      fill='#fff' d='M1677.668,186.834L2497,1099l-1187,534L644.969,557.04L1677.668,186.834z'
    )
